
<h1><%= @job.name %> job page for '<%= @job.info %>'</h1>
<h3>For: <%= link_to @job.client.name, client_path(@job.client.id) %></h3>


<br>

<table class="table">
	<tr>
	<th>Block</th>
	<th>Date</th>
	<th>Time</th>
	</tr>
	<% @job.blocks.each do |a| %>
	<tr>
		
		<td><%= link_to a.des, block_path(a) %></td>
		<td><%= a.updated_at %></td>
		<td><%= a.time / 60 %></td>
		
	</tr>
	<% end %>
</table>

<p>Total time:<%= @more / 60 %> minutes</p>

<%= link_to 'Edit', edit_job_path, class: "btn btn-primary" %>
<%= link_to 'New block', new_block_path(client: @job.client_id), class: "btn btn-success" %>






