

<div class="container">

	<div class="col-md-4 col-md-offset-4">
		<h1>Client: <%= @client.name%></h1>
		<div class="clock"></div>
	</div>
</div>


<br> 
<script>
	var clock = $('.your-clock').FlipClock({
		autoStart:false
});

	$(document).ready(function(){
		$('.start').click(function(){
			$('.clock').timer({format: '%H:%M:%S'}, {seconds: 0});
		})
		$('.stop').click(function(){
			$('.clock').timer('pause');
		})
		$('.reset').click(function(){
			$('.clock').timer('reset');
		})
		$('.get_time').click(function(){
		var moment = $('.clock').data('seconds');

		$('.secs').val(+ moment)
		console.log(moment);


	})

		

	})


</script>


<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-primary start">Start</button>
  <button type="button" class="btn btn-success get_time">Get time</button>
  <button type="button" class="btn btn-info stop">Stop</button>
  
  
</div>

<%= link_to 'Create job', new_job_path, class: 'btn btn-primary' %>

<%= simple_form_for @block do |f|%>

<% if @block.errors.any? %>

	<div id="errors">
		<%= @block.errors.count %> prevented this from saving.
	</div>

	<ul>
		<% @block.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>

<% end %>

<div class="panel-body">
	<%= f.input :job_id, collection: @job, input_html: {class: 'form-control'}, prompt: "Choose a job" %>
	<%= f.input :des, input_html: {class: 'form-control'} %>
	<%= f.input :time, input_html: {class: 'form-control secs'} %>
</div>
<%= f.button :submit, class: "btn btn-primary" %>
<% end %>